# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print("Macarah Morgan")

Macarah Morgan

<font size = "5">

Import the "pandas" and "numpy" library

In [23]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [8]:
# Write your answer here:
students = pd.read_csv('data_raw/students.csv')

students['bins'] = pd.cut(x=students['numericgrade'], bins=[-1, 54, 59, 64, 
                                          69, 74, 79, 82, 86, 92, 100],
                                          labels=['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A'])
print(students)

    studentid  numericgrade bins
0           1            61   C-
1           2             0    F
2           3            14    F
3           4            57    D
4           5            72   C+
5           6            93    A
6           7            40    F
7           8            11    F
8           9             3    F
9          10            63   C-
10         11             7    F
11         12            46    F
12         13            75   B-
13         14            95    A
14         15            22    F
15         16            40    F
16         17            53    F
17         18            57    D
18         19            82    B
19         20            50    F
20         21             8    F
21         22            87   A-
22         23            82    B
23         24            30    F
24         25            62   C-

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [88]:
# Write your own code
sprint_results = pd.read_csv('data_raw/sprint_results.csv')

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [83]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
print(sprint_results.head())
print('Sprint_results[position] type: ' +str(sprint_results['position'].dtypes) + ' does not agree with the codebook position type: int[11]')

   resultId  raceId  driverId  constructorId  number  grid position  \
0         1    1061       830              9      33     2        1
1         2    1061         1            131      44     1        2
2         3    1061       822            131      77     3        3
3         4    1061       844              6      16     4        4
4         5    1061       846              1       4     6        5

  positionText  positionOrder  points  laps       time milliseconds  \
0            1              1       3    17  25:38.426      1538426
1            2              2       2    17     +1.430      1539856
2            3              3       1    17     +7.502      1545928
3            4              4       0    17    +11.278      1549704
4            5              5       0    17    +24.111      1562537

  fastestLap fastestLapTime  statusId
0         14       1:30.013         1
1         17       1:29.937         1
2         17       1:29.958         1
3         16       1:30.163         1
4         16       1:30.566         1
Sprint_results[position] type: object does not agree with the codebook position type: int[11]

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [89]:
# Write your own code here
# Create and store a list of non-numeric values

sprint_results['position']
is_numeric = sprint_results['position'].str.isnumeric()

# Subset where 'position' column values are not numeric
subset = sprint_results[~is_numeric]
list_unique = pd.unique(subset["position"])
print(list_unique)

list_old = ['\\N']
list_new = [np.nan]

# This command replaces the values of the "alt" column
sprint_results["position"] = sprint_results["position"].replace(list_old, list_new)

sprint_results["position"] = pd.to_numeric(sprint_results["position"])
print(pd.unique(sprint_results["position"]))
display(sprint_results["position"])

['\\N']
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. nan 20.]

0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
       ...
115    16.0
116    17.0
117    18.0
118    19.0
119     NaN
Name: position, Length: 120, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [85]:
# Write your own code
df_aggConstrcId_pos = sprint_results.groupby("constructorId").agg(mean_position = ('position','mean'),
                          sd_position =   ('position','std'))

display(df_aggConstrcId_pos.sort_values(by='mean_position', ascending=True))

print('ConstructionId with the lowest mean position = 9')

               mean_position  sd_position
constructorId
9                   3.363636     2.419617
6                   4.750000     2.734460
131                 4.833333     4.174236
1                   7.250000     3.137022
214                11.636364     4.006812
117                12.750000     3.165869
51                 13.000000     3.549648
210                13.833333     5.236816
213                13.909091     2.981763
3                  16.181818     2.857208

ConstructionId with the lowest mean position = 9

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [86]:
# Write your own code
df_subAggConstr_pos = (sprint_results.query("raceId >= 100")
                       .groupby(["constructorId"])
                        .agg(mean_position = ('position','mean'),
                             sd_position = ('position','std')))
#display(df_subAggConstr_pos)
display(df_subAggConstr_pos.sort_values(by='mean_position', ascending=True))

               mean_position  sd_position
constructorId
9                   3.363636     2.419617
6                   4.750000     2.734460
131                 4.833333     4.174236
1                   7.250000     3.137022
214                11.636364     4.006812
117                12.750000     3.165869
51                 13.000000     3.549648
210                13.833333     5.236816
213                13.909091     2.981763
3                  16.181818     2.857208